head {
    background-color: deeppink;
}

body {
    background-color: green;
    color: white;
}

.par1 {
    background-color: black;
    color: white;
}

.par2 {
    background-color: chartreuse;
    color: black;
}