head {
    background-color: blue;
}
body {
    background-color: Black;
    color: white;
}
.par1 {
    background-color: black;
    color: white;
}

.par2 {
    background-color: chartreuse;
    color: black;
}